<form action="/product/" method="post">
    <label for="moviename"> movie name </label>
    <input type="text" name="moviename" id="moviename">

    <label for="moviename"> year</label>
    <input type="text" name="year" id="year">

    <label for="moviename"> rating</label>
    <input type="text" name="rating" id="rating">

    <button>Create Movie</button>
</form>